.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}
.btn {
    display: flex;
    justify-content: center;
    margin: -2em auto 5em auto;
  
}

.panelIcon {
    height: 50px;
    width: 50px;
}
.panelIconSmall {
  height: 49px;
  width: 49px;
}
@media (max-width: 668px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
  .box1 {
    order: 1;


  }
  .box2 {
    order: 2;
   
  }

  .box3 {
    order: 3;
  }

  .box4 {
    order: 4;
    margin: -5em 0 0 0;
  }

  .box5 {
    order: 5;
  }

  .box6 {
    order: 6;
    margin: 0 0 3em 0;
  }
  .box7 {
    order: 7;
  }
  .box8 {
    order: 8;
  }
  .box9 {
    order: 10;
  }
  .box10 {
    order: 9;
  }
}
