:root {
  --terra: #9a695a;
  --green: #a59c77;
  --darkGreen: #496C59;
  --lightGreen: #57806a;
  --yellow: #d7b37c;
  --grey: #847e7c;

  --font-size-sm: 0.5em;
  --font-size-md: 1em;
  --font-size-ml: 1.5em;
  --font-size-lg: 2em;
  --font-size-xl: 3em;
}


